In [12]:
import sqlite3

connection = sqlite3.connect("books.db")

In [ ]:
import pandas as pd

pd.options.display.max_columns = 10
pd.read_sql("SELECT * FROM authors", connection, index_col=["id"])

## Section 1: SELECT

In [ ]:
import pandas as pd

pd.read_sql("SELECT first, last FROM authors",connection)

## Section 2: WHERE

In [ ]:
pd.read_sql("""SELECT title,edition, copyright FROM titles WHERE copyright > '2016'""",connection)

In [ ]:
pd.read_sql("""SELECT id, first, last
            FROM authors
            WHERE last LIKE 'D%'""",
            connection, index_col=["id"])

In [ ]:
pd.read_sql("""SELECT id, first, last
            FROM authors
            where first LIKE '_b%'""", 
            connection, index_col=["id"])

## Section 3: ORDER

In [ ]:
pd.read_sql("SELECT title FROM titles ORDER BY title ASC", connection)

In [ ]:
pd.read_sql("""SELECT id,first,last
            FROM authors
            ORDER BY last,first""",
            connection, index_col=["id"])

In [ ]:
pd.read_sql("""SELECT id,first,last
            FROM authors
            ORDER BY last DESC, first ASC""", 
            connection, index_col=["id"])

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright
            FROM titles
            WHERE title LIKE '%How to Program'
            ORDER BY title""", 
            connection)

## Section 4: INNER JOIN

In [ ]:
pd.read_sql("""SELECT first, last, isbn
            FROM authors
            INNER JOIN author_ISBN
             ON authors.id = author_ISBN.id
            ORDER BY last, first""", 
            connection).head()

## Section 5: INSERT INTO

In [ ]:
cursor =connection.cursor()

cursor = cursor.execute("""INSERT INTO authors (first, last) VALUES ("Sue", "Red")""")

In [ ]:
pd.read_sql("SELECT id, first,last FROM authors", 
            connection, index_col=["id"])

## Section 6: UPDATE

In [ ]:
cursor = cursor.execute("""UPDATE authors SET last='Black'
                        WHERE last='Red' AND first='Sue'""")

In [ ]:
pd.read_sql("SELECT id, first, last FROM authors", connection, index_col = ["id"])

## Section 7: DELETE FROM

In [ ]:
cursor = cursor.execute("DELETE FROM authors WHERE id=6")

In [ ]:
pd.read_sql("SELECT id,first,last FROM authors", connection, index_col = ["id"])

## Section 8: SELECT

In [ ]:
pd.options.display.max_columns = 10

pd.read_sql("SELECT * FROM authors", connection, index_col=["id"])

In [ ]:
pd.read_sql("SELECT * FROM titles", connection)

In [ ]:
pd.read_sql("SELECT * FROM author_ISBN", connection)